[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snakemake = "==8.4.3"
dpath = "==2.1.6"
networkx = "*"
matplotlib = "*"
jupyter = "*"
"jupyterlab_server" = "*"

[dev-packages]

[requires]
python_version = "3.11"
